streamlit>=1.30

python-dotenv>=1.0
requests>=2.31

SQLAlchemy>=2.0

pandas>=2.0
numpy>=1.26

langgraph>=0.2
langchain>=0.1
langchain-core>=0.1
langchain-community>=0.1
langchain-groq>=0.1
langchain-huggingface>=0.1
langchain-text-splitters>=0.1
langchain-classic>=0.0.1

sentence-transformers>=2.2
faiss-cpu>=1.7

PyMuPDF>=1.23
pdfplumber>=0.10
reportlab>=4.0
